
# Исключаем файлы базы данных SQLite
*.sqlite3
# Исключаем логи
*.log
*.log.*

# Исключаем везде папки __pycache__ 
**/__pycache__/
Users/macbook.maria/Downloads/HackMe-16.04.25 2/db-3.sqlite3
/Users/macbook.maria/Downloads/HackMe-16.04.25 2/db-3.sqlite3
/Users/macbook.maria/Downloads/HackMe-16.04.25 2/db-2.sqlite3

# Исключаем папки migrations
**/migrations/

# Исключаем .DS_Store файлы
**/.DS_Store
**/.DS_Store/
